target/
.DS_Store
gen/
.gradle/
.idea/
*.iml
*.class
.classpath
.project
.buckconfig
.buckd
buck-out
buck_lib
BUCK
build/BUNDLE.MF
keystore/
captures/
local.properties
api/build
build/build
build/intermediates
integration/build
ui/build
util/build
build/generated/mockable-android-16.jar
build/generated/mockable-android-23.jar
gradle/wrapper/gradle-wrapper.properties
codeiris

build/android-profile/
app/build/android-profile/
*/build/android-profile/
build/android-profile/
app/build/android-profile/
*/build/android-profile/